* {
    margin: 0px;
    padding: 0px;  
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;    
    height: 60px;
    align-items: center;    
}

.navbar .header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    margin-left: 120px;
}

.navbar ul li {
    padding: 8px;
    color: #e5e7eb;
    font-size: 18px;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    margin-right: 120px;
}

.container {
    padding: 20px 0px;
}

.header .container {
    background-color: #1f2937;
    height: 400px;
    justify-content: space-between;
}

.header .container h1 {
    max-width: 350px;
    margin-left: 120px;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    
}

.header .container p {
    margin-left: 120px;
    color: #e5e7eb;
    font-size: 18px;
    max-width: 350px;
    padding: 20px 0px;
}

button {
    background-color: #3882f6;
    margin-left: 120px;
}
