* {
    margin: 0px;
    padding: 0px;  
}

a {
    text-decoration: none;
    color: #e5e7eb;
}



.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;    
    height: 60px;
    align-items: center;    
}

.navbar .header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    margin-left: 120px;
}

.navbar ul li {
    color: #e5e7eb;
    font-size: 18px;
    margin-left: 20px;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    margin-right: 120px;
}

.container {
    display: flex;
    padding: 10px 0px;
    align-items: center;
}


.header {
       min-height: 400px;
       align-items: center;
}

.header .container .header-text {
    display: flex;
    flex-direction: column;
}

.header .container {
    padding: 50px 0px 0px 50px;
    background-color: #1f2937;
    height: 600px;
    justify-content: space-between;
    
}

.header .container h1 {
    max-width: 400px;
    margin-left: 60px;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    
}

.header .container p {
    margin-left: 60px;
    color: #e5e7eb;
    font-size: 18px;
    max-width: 400px;
    padding: 10px 0px;
}

.header .container button {
    width: 110px;
    padding: 6px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    background-color: #3882f6;
    margin-left: 60px;
    color: #e5e7eb;
    
}

.header img {
    max-width: 600px;
    margin: 0px 120px 60px 0px;
}

.boxes h2 {
    display: flex;
    justify-content: center;
    margin: auto;
    color: #1f2937;
    font-size: 36px;
    margin: 60px 0px;
}

.boxes .container  {
    display: flex;
    justify-content: center;   
    align-items: baseline;
    border: 2px;
    gap: 80px;
    
}

/*
.box {
    border: 2px;
    border-style: solid;
    border-color: #3882f6;
    background-color: white;
}*/

.boxes .container .box img {
    height: 200px;
    width: auto;
    padding-bottom: none;
    margin: none;
    
}

.boxes .container .box p {
   
    max-width: 145px;
}